Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xcursor*theme: Vanilla-DMZ-AA
urxvt*font: xft:dejavu sans mono:pixelsize=13:antialias=true
urxvt*boldFont: xft:dejavu sans mono:bold:pixelsize=13:antialias=true
urxvt*urgentOnBell: true
urxvt*scrollBar: false

URxvt.perl-ext-common: default,url-select,keyboard-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.url-select.launcher: firefox -new-tab

!colors
#include "/home/ogion/.solarized"
