!----------------------------------------------------------------------------
! file:     ~/.Xdefaults
! author:   Ogion
! this was a vim modeline:enc=utf-8:ai:si:et:ts=4:sw=4:ft=xdefaults:
!----------------------------------------------------------------------------
!The colors 0-7 are the 'normal' colors, while colors 8-15 are their 'bright' counterparts (used for highlighting, etc.)


Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight

Xcursor*theme:      Vanilla-DMZ-AA
!#include "/example/path"

!urxvt*font:         xft:fixed:pixelsize=15:antialias=false
urxvt*font:         xft:dejavu sans mono:pixelsize=14:antialias=false
!urxvt*font:         xft:Linux Biolinum:pixelsize=15:antialias=true


urxvt*background:   #000000
urxvt*foreground:   #DADADA
urxvt*cursorColor:  #DADADA
urxvt*scrollBar:    false
urxvt*urgentOnBell: true

!my normal black background colors
!!black 
*color0 :   #222222
*color8 :   #454545
!!red
*color1 :   #E22A5B
*color9 :   #F92672
!!green
*color2 :   #84B81B
*color10:   #A6E22E
!!yellow
*color3 :   #FD971F
*color11:   #FDD31F
!!blue
*color4 :   #2B45D6
*color12:   #4682B4
!!magenta
*color5 :   #B770DB
*color13:   #AE81FF
!!cyan
*color6 :   #89b6e2
*color14:   #46a4ff
!!white
*color7:    #DADADA
*color15:   #DADADA

!!! trying out darker colors for a white background theme
!!!black like above
!!!red
!*color1 : #D61C41
!*color9 : #EF214F
!!!green
!*color2 : #289428
!*color10: #39B939
!!!yellow
!*color3 : #D19F23
!*color11: #E8DF2F
!!!blue
!*color4 : #263FC2
!*color12: #396F9D
!!!magenta
!*color5 : #85599B
!*color13: #8562C7
!!!cyan
!*color6 : #567DBB
!*color14: #3B83D5
!!!white
!*color7 : #FFFFFF
!*color15: #FFFFFF


!URxvt.perl-ext-common: default,matcher
!URxvt.urlLauncher: /usr/bin/firefox
!URxvt.colorUL: #86a2be
URxvt.perl-ext-common: url-select,keyboard-select
URxvt.keysym.M-u:      perl:url-select:select_next
URxvt.keysym.M-Escape:  perl:keyboard-select:activate
URxvt.perl-ext:           default
URxvt.urlLauncher:        firefox
!URxvt.matcher.pattern:  \\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]
!URxvt.keysym.M-u:    perl:matcher
!URxvt.matcher.button:     3
!URxvt.matcher.pattern.2:  \\B(/\\S+?):(\\d+)(?=:|$)
!URxvt.matcher.launcher.2: gvim +$2 $1
